@import "../global.scss";

.intro {
    background-color: #fff0E5;
    width: 100%;
    height: 100vh;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}

@include mobile{
    padding-left: 0;
    align-items: center;
    flex-direction: column;
  }

  .ityped-cursor {
    animation: blink 1s infinite;
    color: #3a0fe5;
  }

  @keyframes blink {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.name {
    float: right;
    position: relative;
    top: 20vh;
    right: 12.5vw;
    padding-bottom: 10vh;
    background: transparent;
    width: auto;
}

.name.activate {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    float: none;
}

.incoming {
    position: relative;
    float: right;
    top: 70vh;
    right: -25vw;
    width: 45vw;
    text-align: right;
    padding-top: 2vh;
}

.incoming.activating {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name h1 {
    font-size: 10vw;
    text-align: right;
    font: 'Lato';
    color: #3a0fe5;
}

// .image {
//     height: auto;
//     width: auto;
//     top: 8vh;
// }

.oldComputer {
    height: auto;
    width: auto;
    position: absolute;
    top: 20vh;
    left: 10vw;
}

.oldComputer.active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), scale(0.25);
}

// .image {
//     float: left;
//     position: absolute;
//     top: 20vh;
//     left: 12.5vw;
// }

.animation {
    animation-duration: 3s;
    animation-fill-mode: both;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}


