@import '../global.scss';

.navbar {
    background: transparent;
    width: 100%;
    height: 12vh;
    position: fixed;
    z-index: 100;
    overflow: hidden;
}

.navbar h1 {
    float: left;
    padding-left: 7vw;
    color: goldenrod;
    font-size: 9vh;
    transition: color 1s;
}

.navbar.active {
    background-color: goldenrod;
    transition: background-color 1s;
    overflow: hidden;
    border-bottom: 5px solid white;

    h1 {
        color: #fff0e5;
        transition: color 1s;
    }

    .navbar-list a {
        color: #fff0e5;
        transition: color 2s;
    }

    .navbar-list a:hover {
        color: #3a0fe5;
    }
}

.navbar-list a {
    text-decoration: none;
    color: goldenrod;
    // background-color: #fff0e5;
}

.navbar-list a:hover {
    color: #3a0fe5;
}

nav ul {
    float: right;
    position: absolute;
    bottom: 2vh;
    flex-wrap: wrap;
}

.navbar-list li {
    display: inline;
    margin-left: 4vw;
}

.navbar-list.activate {
    font-size: 13px;
}