@import '../global.scss';

.navbar {
    background: transparent;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 100;
}

.navbar h1 {
    float: left;
    padding-left: 7vw;
    color: #202c5e;
    font-size: 10vh;
    transition: color 1s;
}

.navbar.active {
    background-color: #202c5e;
    transition: background-color 1s;
    // border-bottom: 5px solid white;

    h1 {
        color: #fff0e5;
        transition: color 1s;
    }

    .navbar-list a {
        color: #fff0e5;
        transition: color 2s;
    }

    .navbar-list a:hover {
        background: black;
    }
}

.navbar-list a {
    text-decoration: none;
    color: #202c5e;
    // background-color: #fff0e5;
}

.navbar-list a:hover {
    color: #3a0fe5;
}

nav ul {
    float: right;
    position: absolute;
    bottom: 2vh;
}

.navbar-list li {
    display: inline;
    margin-left: 4vw;
    background: transparent;
}