@import '../global.scss';

.about {
    background-color: #3a0fe5;
    width: 100%;
    height: 75vh;
}


.about-title {
    padding-top: 12vh;
    font-size: 8vh;
    color: bisque;
}

.content {
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 3vh;
    color: bisque;
    line-height: 5vh;
    letter-spacing: .15rem;
}