@import '../global.scss';

.about {
    background-color: #3a0fe5;
    width: 100%;
    height: 60vh;
}

.about.active {
    height: 60vh;
}


.about-title {
    padding-top: 12vh;
    font-size: 8vh;
    color: bisque;
}

.content {
    padding-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 30vh;
    font-size: 3.5vh;
    color: bisque;
    line-height: 5vh;
    letter-spacing: .15rem;
}

.content.activate {
    padding-top: 3vh;
    font-size: 2vh;
    line-height: 3vh;
    height: 30vh;
    width: 80;
}