@import '../global.scss';

.projects {
    background-color: #f1c0a5;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        padding-top: 3vh;
        display: flex;
    }
}

.projects-title {
    padding-top: 10vh;
    font-size: 8vh;
    color: #5e2b38;
}

.container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2vh;
    
    
    .item {
        width: 20vw;
        height: 23vh;
        border-radius: 20px;
        border: 1px solid #f9c0fe;
        margin: 2vw 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e1e1e1;
        position: relative;
        transition: all 1s ease;
        cursor: pointer;
        background-repeat: no-repeat;
        background-attachment: fixed;

        .project-name {
            position: absolute;
            font-size: 4vh;
        }

        img {
            width: 105%;
            height: 105%;
            object-fit: cover;
            z-index: 1;
            overflow: hidden;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        &:hover {
            background-color: #3b4f51;
            img {
                z-index: 0;
                opacity: .2;
                overflow: hidden;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        }
    }
}